services:
  redis:
    image: "redis:latest"
    expose:
      - 6379
    working_dir: /data
    volumes:
      - redis_data:/data
    restart: "on-failure"
    container_name: weather_redis
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5

  postgres:
    image: postgres:14
    ports:
      - "5432:5432"
    volumes:
      - ./docker/develop/postgres/data:/var/lib/postgresql
    env_file:
    - .env
    healthcheck:
      test:
        [
          'CMD-SHELL',
          'pg_isready -d ${POSTGRES_DB} -U ${POSTGRES_USER}'
        ]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build: .
    volumes:
      - .:/django
    container_name: weather_api
    command: >
      sh -c "cd backend &&
            # python manage.py migrate &&
            python manage.py runserver 0.0.0.0:8000
            "
    env_file:
      - .env
    depends_on:
      redis:
        condition: service_healthy
      postgres:
        condition: service_healthy
    ports:
      - "8000:8000"


volumes:
  redis_data: 